div {

  .text-ab {
    margin : 25px auto;
    h1 {
      font-size: 36px;
      font-weight: 800;
    }
    p{
      line-height: 28px;
    }

    i {
      margin-right: 10px;
      font-size: 21px;
    }
  }

}