.body-carousel {
  margin : 180px 10px 10px 10px;
  padding : 200px 40px 0px 40px;
  font-family: sans-serif;

  @media (max-width: 768px) {

    .body-carousel {
      margin : 0;
      padding : 0;
      font-family: sans-serif;
    }
  }


  .content-img {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    height: 80vh;
      
    .slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 500%;
        height: 100%;
        float: left;
        animation: animate 10s linear infinite;

        .slide {
          position: relative;
          width: 20%;
          height: 100%;
          float: left;

         

          .caption {
            position: absolute;
            bottom: 60px;
            left :60px;
            right: 60px;
            padding : 30px;
            background: rgba(0,0,0,0.5);
            border-radius: 5px;
            box-sizing: border-box;
            transition: 0.5s;

            h2 {
              margin : 0 0 20px;
              padding : 0;
              color: #ffffff;
              font-size: 21px;
              font-weight: 800;
              transition: 0.5s;
            }

            p {
              margin : 0;
              padding : 0;
              color: #ffffff;
              font-size: 14px;
              transition: 0.5s;
            }
          }

          @media (max-width: 768px) {

            .caption {
              position: absolute;
              bottom: 20px;
              left :20px;
              right: 20px;
              padding : 20px;
    
              h2 {
                margin : 0 0 10px;
                font-size: 21px;
                font-weight: 800;
              }
    
              p {
                font-size: 14px;
              }
            }
          }

        }
        
        .slide1 {
          background : url("https://images.unsplash.com/photo-1569261995036-70d0dd50be24?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
          background-size: cover;
          background-position: center;
        }
        .slide2 {
          background : url("https://images.unsplash.com/photo-1569173784625-34f37a1a35ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
          background-size: cover;
          background-position: center;
        }
        .slide3 {
          background : url("https://images.unsplash.com/photo-1568021735466-efd8a4c435af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
          background-size: cover;
          background-position: center;
        }
        .slide4 {
          background : url("https://images.unsplash.com/photo-1568473648251-3a0c3aa56192?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
          background-size: cover;
          background-position: center;
        }
      }
      
      @keyframes animate {
        0% {
          left: 0;
        }
    
        20% {
          left: 0;
        }
    
        25% {
          left: -100%;
        }
    
        45% {
          left: -100%;
        }

        50% {
          left: -200%;
        }

        70% {
          left: -200%;
        }

        75% {
          left: -300%;
        }

        95% {
          left: -300%;
        }

        100% {
          left: -400%;
        }
      }
  }
}