div {
  
    main {
      // margin-top : 350px;
      .h1-gap {
        margin-left: 15px;
        font-weight: 500;
        font-size: 24px;
      }
      hr {
        height: 12px;
        width: 270px;
        border: 0;
        box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
      }

      .grid-gap {
        margin : 20px 0px;
      }
    }
}