div {
  header {
    .nav-color {
      background-color: black;
      color: white;
      font-weight: 500;

        p {
          &:hover {
            color: #1CB5E0;   
           }
        }
      
        form {
          align-content: center;
          padding : 15px 15px 15px 0px;
        i {
            font-size : 18px;
            margin-right: 10px;
          }
  
        input {
          color : black;
          font-size : 14px;
          padding : 3px 10px;
          width: 70%;
        }
        }
    }
  }
}