div {

  .hero {
    // background-image: url("../img/19462.jpg");
    background-color: #DCD9D4; 
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%); 
    background-blend-mode: soft-light,screen;
    height: 288px;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
  }

  @media only screen and (max-width: 1023px) {
    .hero {
      background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
      height: 566px;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      position: absolute;
    }

    .img-profile {
      display: flex;
      justify-content: center;
    }


  }

  .text-class {
    
    h1 {
      padding-bottom: 10px;
      font-weight: 300;
      font-size: 36px;
    }
  }

  .class-1 {
    padding: 4px 0px;
    background-color: #ffffff;
    z-index: 2;
    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 43px;

      span {
        font-weight: 500;
      }
      i{
        font-size: 18px;
        margin-right: 10px;
      }
    }

    .text-email {
      font-size: 18px;
    }

  }

  .user-profile {
    width: 85%
  }

  // .video-test {
    
  // }

  .img-test {
    padding-top: 60px;
    display: block;
    // width: 50%;
    img {
      height: 210px;
    }
  }

  .text-plus {
    padding-left: 1rem;
  }
}