@import './Color.scss';

div {
  
  .user-width {
    max-width: 828px;
  }


  .btn-subs {
    padding : 8px 10px;
  }

  @media only screen and (max-width: 639px) {
    .btn-center {
      display: flex;
      justify-content: center;
      margin-top: -20px;
    }
  }
}